Checks: "-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier
  misc-*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes
  performance-*,
  portability-*,
  readability-*,
  -bugprone-narrowing-conversions,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-identifier-naming,
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-redundant-void-arg,
  llvm-*"

CheckOptions:
  - key:   readability-identifier-naming.EnumCase
    value: lower_case
  - key:   readability-identifier-naming.UnionCase
    value: lower_case

  - key:   readability-identifier-naming.FunctionCase
    value: lower_case
  - key:   readability-identifier-naming.ParameterCase
    value: lower_case
  - key:   readability-identifier-naming.VariableCase
    value: lower_case

  - key:   readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.GlobalVariableCase
    value: UPPER_CASE

  - key:   readability-function-cognitive-complexity.IgnoreMacros
    value: true
